!!! 5
%html
  %head
    %link(rel="stylesheet" href="/assets/application.css" type="text/css" media="screen")
    %script(type="text/javascript" data-main="/assets/application.js" src="/assets/vendor/require.js")
  %body
    %h1 Welcome to my html5 application!
